[submodule "vendor/testing"]
	path = vendor/testing
	url = https://github.com/baiduclient/chromium_testing.git
[submodule "vendor/third_party/yasm"]
	path = vendor/third_party/yasm
	url = https://github.com/baiduclient/yasm.git
[submodule "vendor/third_party/boringssl"]
	path = vendor/third_party/boringssl
	url = https://github.com/baiduclient/boringssl.git
[submodule "vendor/node"]
	path = vendor/node
	url = https://github.com/baiduclient/node.git
[submodule "vendor/build"]
	path = vendor/build
	url = https://chromium.googlesource.com/chromium/src/build
[submodule "vendor/base"]
	path = vendor/base
	url = https://chromium.googlesource.com/chromium/src/base
[submodule "vendor/v8"]
	path = vendor/v8
	url = https://chromium.googlesource.com/v8/v8.git
[submodule "vendor/tools/gyp"]
	path = vendor/tools/gyp
	url = https://chromium.googlesource.com/external/gyp
