[submodule "vendor/testing"]
	path = vendor/testing
	url = https://github.com/baiduclient/chromium_testing.git
[submodule "vendor/third_party/yasm"]
	path = vendor/third_party/yasm
	url = https://github.com/baiduclient/yasm.git
[submodule "vendor/third_party/boringssl"]
	path = vendor/third_party/boringssl
	url = https://github.com/baiduclient/boringssl.git
[submodule "vendor/node"]
	path = vendor/node
	url = https://github.com/baiduclient/node.git
[submodule "vendor/build"]
	path = vendor/build
	url = https://chromium.googlesource.com/chromium/src/build
[submodule "vendor/base"]
	path = vendor/base
	url = https://chromium.googlesource.com/chromium/src/base
[submodule "vendor/v8"]
	path = vendor/v8
	url = https://chromium.googlesource.com/v8/v8.git
[submodule "vendor/tools/gyp"]
	path = vendor/tools/gyp
	url = https://chromium.googlesource.com/external/gyp
[submodule "vendor/tools/clang"]
	path = vendor/tools/clang
	url = https://chromium.googlesource.com/chromium/src/tools/clang
[submodule "vendor/third_party/zlib"]
	path = vendor/third_party/zlib
	url = https://chromium.googlesource.com/chromium/src/third_party/zlib
[submodule "vendor/third_party/icu"]
	path = vendor/third_party/icu
	url = https://chromium.googlesource.com/chromium/deps/icu
[submodule "vendor/third_party/modp_b64"]
	path = vendor/third_party/modp_b64
	url = https://chromium.googlesource.com/chromium/src/third_party/modp_b64
[submodule "vendor/tools/depot_tools"]
	path = vendor/tools/depot_tools
	url = https://chromium.googlesource.com/chromium/tools/depot_tools.git
[submodule "vendor/third_party/libxml"]
	path = vendor/third_party/libxml
	url = https://github.com/baiduclient/libxml.git
[submodule "vendor/third_party/apple_apsl"]
	path = vendor/third_party/apple_apsl
	url = https://github.com/baiduclient/apple_apsl.git
[submodule "vendor/gin"]
	path = vendor/gin
	url = https://github.com/baiduclient/gin.git
